@import 'utils/config', 'utils/utils', 'utils/res-mq', 'utils/button', './tabs';

$primary-color: #663399;
$secondary-color: #B48311;
body {
   background-color: $primary-color;
   #main{
	  width: 100vw;
	  height: 100vh;
	  #tabs {
		  width: 75%;
		  height: 90%;

		  position: absolute;
		  @extend %center-object;
		  @include box-shadow(10px, 5px, 15px, 5px, rgb(0 0 0 / 0.5), false);

		  @include md {
			 width: 50%;
		  }
		  &-hdr {
			@include tabs($primary-color); 
		  }
		  &-body {
			background-color: lighten($primary-color, 25%);
			width: 100%;
			height: 92%;
		  }
		  .hidden {
			 display: none;
		  }
	  }
   }
}
